{
  "extends": ["react-app", "prettier", "airbnb", "airbnb/hooks"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": "off",
    "semi": "off",
    "operator-linebreak": "off",
    "react/jsx-filename-extension": "off",
    "arrow-parens": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "no-confusing-arrow": "off",
    "no-underscore-dangle": "off",
    "implicit-arrow-linebreak": "off"
  }
}
