{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb/hooks"
  ],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": "off",
    "semi": "off",
    "operator-linebreak": "off",
    "react/jsx-filename-extension": "off"
  }
}
